html {
  scroll-behavior: smooth;
}
:root {
  --secondColor: rgb(191 211 231);
  --main-bg: #f5f5f5;
  --danger: rgb(241 79 79);
  --orange: rgb(255 183 43);
  --sec-main: rgb(128 209 206);
  --main: #2f71b3;
  --gray: #a99e9e;
  --color-white: #fff;
}
@font-face {
  font-family: myfont;
  src: url("../css/URW-DIN-Arabic-Medium.ttf");
}
body {
  direction: rtl;
  text-align: right;
  font-size: 15px !important;
  /* font-family: "Cairo", sans-serif; */
  font-family: "myfont", sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--main);
  border-radius: 5px;
}
/* general classes */
.color-main {
  color: var(--main) !important;
}
.bg-main {
  background-color: var(--main-bg) !important;
}
.bg-blue {
  background-color: var(--main) !important;
}
.color-white {
  color: var(--color-white) !important;
}
.color-orange {
  color: var(--orange) !important;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.m-top-20 {
  margin: 20px 0;
}
a,
a:hover {
  text-decoration: none;
}
.card-spe {
  background-color: #fff;
  border-radius: 6px;
}
.up:hover,
.up:focus {
  -webkit-box-shadow: inset 0 -4.25em 0 0 var(--color-white);
  box-shadow: inset 0 -4.25em 0 0 var(--color-white);
  color: var(--main) !important;
}
/*start header*/
.img-landing img {
  object-fit: cover;
}
.bars {
  display: none;
}
.header {
  box-shadow: 0px 1px 4px 1px rgb(0 0 0 / 12%);
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 99;

  background: #fff;
}
.flex-logins {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}
.header a {
  color: #000;
  transition: all 0.3s ease-in-out;
}
.header a:hover {
  text-decoration: none;
  color: var(--main);
}
.user-ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
.user-ul a {
  /*   */
}
.user-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.user-header .logo img {
  width: 70px;
}
.logins a.first-log {
  padding: 10px 8px;
  border-radius: 7px;
  margin-left: 10px;
  border: 1px solid transparent;
}
.logins a {
  padding: 10px 8px;
  border-radius: 7px;
  margin-left: 10px;
}
.no-border {
  border: 1px solid transparent;
}
a.first-log {
  background-color: var(--main);
  color: var(--color-white);
}
a.second-log {
  background-color: var(--secondColor);
  color: #000;
}
.header-language {
  display: flex;
  align-items: center;
  gap: 22px;
}
.header-language img {
  width: 50px;
}
.fa-bell {
  font-size: 24px;
  color: var(--main);
}
.header-noti {
  position: relative;
}
.header-noti::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: var(--danger);
  position: absolute;
  top: 0;
  right: 0;
}
.header-language {
  position: relative;
}
.drop-down-lang {
  position: absolute;
  top: 45px;
  right: 40px;
  width: 100px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 4px 1px rgb(0 0 0 / 12%);
  text-align: center;
  z-index: 2;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  /* pointer-events: none; */
}
.drop-header:hover .drop-down-lang {
  opacity: 1;
  visibility: visible;
  /* pointer-events: fill; */
}
.drop-down-lang li {
  border-bottom: 1px solid #ddd;

  padding: 10px;
}
/*end header*/
/*start landing*/
.landing {
  padding: 70px 0;
  background: url('../imgs/shadooo.png') no-repeat;
  background-position-y: bottom;
  background-size: contain;
}
.landing-right .landing-title {
  background-color: var(--main);
  height: 100px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.landing-join {
  font-weight: bolder;
  margin-top: 10px;
}
.landing-right p {
  color: rgb(156, 150, 150);
  margin: 40px 0;
}
.downloads {
  display: flex;
  align-self: center;
  gap: 10px;
  flex-wrap: wrap;
}
.downloads img {
  width: 160px;
  height: 60px;
  cursor: pointer;
}
.landing-left {
  background: url("../imgs/Rectangle\ 25850.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: 50%;
}
.landing-left img {
  width: 270px;
  margin-top: -25px;
}
/*end landing*/
/*start specials*/
.specials {
  margin: 70px 0;
  background-color: #fbfbfb;
  padding: 40px 0;
  margin-top: 0 !important;
}
.specials p {
  color: #b4b4b4;
}
.title-p {
  margin-top: 8px;
}
.spe-box {
  margin-top: 30px;
  background-color: var(--color-white);
  padding: 15px;
}
.spe-box h5 {
  margin-top: 5px;
}
/*end specials*/
/*start best doctors*/
.best-doctors {
  margin: 70px 0;
  position: relative;
}
@media (max-width: 768px) {
  .best-doctors .col-md-3 {
    position: absolute;
    z-index: -1;
    top: 10%;
    opacity: 0.8;
  }
}

.best-doctors p {
  font-size: 27px;
  margin-top: 25px;
  width: 90%;
  line-height: 45px;
}
.best-box {
  background-color: var(--main);
  color: var(--color-white);
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* padding: 20px; */
  border-radius: 8px;
  background-image: url("../imgs/Mask\ Group\ 333333333382.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}
.best-box a {
  color: var(--color-white);
  transition: all 0.3s ease-in-out;
}
.best-box p {
  color: #d9e1e9;
}
.best-box img {
  width: 170px;
  margin: 0 15px;
  height: 300px;
  margin-top: -40px;
}
.best-box-right {
  padding: 30px;
}
.best-box-right a {
  padding: 10px 12px;
  background-color: var(--orange);
  border-radius: 6px;
  display: inline-block;
  margin-top: 10px;
}
.best-box .fa-arrow-left-long {
  margin-right: 4px;
  transform: translateY(2px);
}
/* .best-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background-color: var(--orange);
  z-index: 2;
  border-radius: 50%;
} */
/*end best doctors*/
/*start slider*/
.owl-stage-outer .owl-item {
  padding-top: 60px;
  padding-bottom: 40px;
}
.owl-stage-outer .owl-item.center {
  transform: scale(1.15);
  transform-style: preserve-3d;
}
.owl-prev,
.owl-next {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ddd;
}
span.fa-forward,
span.fa-backward {
  color: rgb(149, 132, 132);
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background: #ddd;
  transition: all 0.3s ease-in-out;
}
.app-section {
  margin: 50px 0;
}
.owl-carousel .owl-item img {
  margin: auto;
  height: 370px;
  width: 178px;
  border-radius: 20px;
}
.back-ph {
  position: absolute;
  left: 50%;
  top: 30px;
  -webkit-transform: translateX(-50%) scale(1.1);
  transform: translateX(-50%) scale(1.1);
}
.back-ph img {
  opacity: 1;
  width: 210px;
}
.slider-pad{
  position: relative;
}
button.owl-prev , button.owl-next{
  border-radius: 50% !important;
}
span.fa-forward:hover , span.fa-backward:hover{
  background: #14b5aa !important;
  color: var(--color-white) !important;
}
/*end slider*/
/*start statistics*/
.statictics{
  background: url('../imgs/Layer\ 815.png') no-repeat;
  background-size: cover;
}
.goal-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.goal-flex span{
  color: var(--main);
  font-size: 29px;
  font-weight: bold;
}
.stats-boxes {
  margin: 30px 0;
}
.stats-rel-num {
  font-size: 29px;
  font-weight: bolder;
  color: var(--main);
}
.stats-num {
  font-size: 18px;
  /* font-weight: 700; */
}
/*end statistics*/
/*start footer*/
footer {
  background-color: var(--secondColor);
  padding: 5px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer > a img {
  width: 70px;
}
.footer a {
  color: #000;
  transition: all 0.3s ease-in-out;
}
.footer .user-ul a:hover {
  color: var(--main);
}
.socials {
  display: flex;
  align-items: center;
  gap: 10px;
}
.socials li img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.socials a {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  transition: all 0.3s ease-in-out;
}
.socials a:hover {
  background-color: var(--orange);
  transform: translateY(-5px);
}
/*start login pages*/
.submit {
  transition: all 0.3s ease-in-out;
  padding: 7px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  cursor: pointer;
  color: #fff;
  background-color: var(--main);
  width: 240px;
  border-radius: 3px;
  outline: none;
  border: none;
  font-family: "Cairo", sans-serif;
  /* font-weight: 600; */
  border: 1px solid transparent;
}
.start {
  display: flex;
  min-height: calc(100vh - 100px);
}

.start .sec {
  width: 50%;
  min-height: 100%;
}

.start .right-sec {
  padding: 5% 8%;
  background-color: #fff;
  background: url("../imgs/Group40678.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.right-sec .content1 .form-co {
  margin-bottom: 50px;
}

.right-sec .content1 .form-co .info {
  margin-bottom: 30px;
}
.right-sec .content1 .form-co .info h2 {
  font-size: 26px;
  color: var(--dark-color);
  /* margin-bottom: 8px; */
  /* font-weight: 600; */
}

.right-sec .form-co .info p {
  color: #8a8a8a;
  font-size: 16px;
}

.right-sec .form-co form .input-co {
  margin-bottom: 30px;
  position: relative;
}

.right-sec .form-co form .input-co label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

.right-sec .form-co form .input-co input {
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  outline: none;
  font-size: 14px;
}
.right-sec .form-co form .input-co input::placeholder {
  font-size: 12px;
  color: #bfbfbf;
}

.right-sec form .input-co .check-ic {
  position: absolute;
  top: 50px;
  left: 10px;
}
.right-sec form .input-co .check-ic i {
  color: #8d8d8d;
  cursor: pointer;
}

.right-sec form .link {
  text-align: left;
}

.right-sec form .link a {
  color: var(--dark-color);
  /* font-weight: 600; */
  transition: all 0.3s ease;
}

.right-sec form .link a:hover {
  color: var(--main-color);
}

.right-sec form .submit {
  border-radius: 5px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.left-sec {
  background-image: url("../imgs/doctor-presenting-something-isolated-white-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.left-sec::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background-color: var(--main);
  z-index: 2;
  clip-path: circle(100% at 0% 0%);
}

.left-sec .content2 {
  padding: 0 80px;
  z-index: 2;
}

.left-sec .content2 .head {
  margin-bottom: 50px;
  width: 285px;
  font-size: 40px;
  /* color: #fff; */
  /* font-weight: 600; */
  line-height: 60px;
  position: relative;
}

.left-sec .content2 .head::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -14px;
  width: 60px;
  height: 60px;
  background-color: var(--main);
  z-index: -1;
  border-radius: 0 30px 0 0;
}

.left-sec .content2 .text {
  font-size: 18px;
  /* font-weight: 600; */
  /* color: #fff; */
}

/* Media */

@media (max-width: 991px) {
  .start {
    min-height: 100vh;
    flex-direction: column-reverse;
  }

  .start .sec {
    width: 100%;
    min-height: 100vh;
  }

  .right-sec .content1 .form-co {
    margin-bottom: 70px;
  }
}

@media (max-width: 577px) {
  .right-sec .content1 .form-co {
    margin-bottom: 100px;
  }

  .left-sec .content2 {
    padding: 0 40px;
  }
}

@media (max-width: 420px) {
  .start .right-sec {
    padding: 20px;
  }

  .left-sec .content2 {
    padding: 0 20px;
  }
}
.inp-spe {
  width: 100%;
  padding-right: 117px !important;
  padding-left: 10px !important;
  padding: 16px;
}

.country_code{
  position: absolute;
  width: 127px;
  padding: 16px;
  border: 0;
}
.error_show {
  font-weight: bold;
  padding: 5px !important;
  display: inline-block
}

.inp-cont-spe label {
  font-size: 17px;
  display: block;
}
.m-t-spe {
  margin-top: 10px;
}
.setting .iti.iti--allow-dropdown {
  width: 100%;
}

.setting .iti.iti--allow-dropdown .iti__flag-container {
  right: 0;
  width: 90px;
}

.setting .iti.iti--allow-dropdown #telephone {
  padding-right: 100px !important;
  padding-left: 10px !important;
}

.iti--separate-dial-code .iti__selected-dial-code {
  margin-right: 6px;
  margin-left: 0;
  color: #989898;
}

.setting .iti__arrow {
  margin-right: 6px;
  margin-left: 0px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #989898;
  transition: all 0.2s;
}

.iti__arrow.iti__arrow--up {
  margin-left: 0px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 5px solid #989898;
  border-top: 0;
}

.iti__country-list::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

.iti__country-list::-webkit-scrollbar-thumb {
  background-color: var(--main);
  border-radius: 25px;
}

.iti__country-list::-webkit-scrollbar-track {
  border-radius: 25px;
  background-color: transparent;
}
.inp-spe {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
}
.iti--allow-dropdown .iti__flag-container,
.iti--separate-dial-code .iti__flag-container {
  right: 0;
}
.iti.iti--allow-dropdown.iti--separate-dial-code {
  width: 100%;
}
.iti--separate-dial-code.iti__selected-flag {
  background: #ddd;
}
/*end login pages*/
.iti--separate-dial-code .iti__selected-flag {
  background: none !important;
}
/* general classes for login */
.form__label {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
  overflow: hidden;
}

.form__label .default_input {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form__label .float__label {
  position: absolute;
  top: 30%;
  pointer-events: none;
  color: #a99e9e;
  right: 10px;
  -webkit-transition: 0.3s all cubic-bezier(0, 0.11, 0.4, 1.29);
  transition: 0.3s all cubic-bezier(0, 0.11, 0.4, 1.29);
  font-size: 13px;
  /* font-weight: 600; */
  border-radius: 5px;
}

.form__label span:last-child {
  white-space: nowrap;
}

.form__label .float__label {
  font-size: 13px;
  font-weight: 400;
}

textarea.default_input + .float__label {
  top: 11px;
}

.default_input:focus + .float__label,
.default_input:not(:placeholder-shown) + .float__label {
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
}

.default_input:focus-visible {
  outline-color: var(--main) !important;
}

textarea.default_input:focus + .float__label,
textarea.default_input:not(:placeholder-shown) + .float__label {
  -webkit-transform: translateX(120%);
  transform: translateX(120%);
}

input:focus,
:not(:placeholder-shown) {
  outline-color: var(--main) !important;
}

textarea:focus {
  border: 2px solid var(--main);
}

.default_input::-webkit-input-placeholder,
.input_footer input::-webkit-input-placeholder {
  opacity: 0;
}

.default_input:-ms-input-placeholder,
.input_footer input:-ms-input-placeholder {
  opacity: 0;
}

.default_input::-ms-input-placeholder,
.input_footer input::-ms-input-placeholder {
  opacity: 0;
}

.default_input::placeholder,
.input_footer input::placeholder {
  opacity: 0;
}

textarea.default_input {
  min-height: 150px;
}
/*start regester page*/
.groups-inp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.small-sec {
  margin: 30px 0;
}
.img-landing img {
  width: 100%;
  height: 600px;
}
.small-sec h4 {
  font-weight: bold;
}
.steps-flex {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 800px;
  margin: 30px auto;
}
.steps-flex .step1 {
  display: flex;
  align-items: center;
}
.step-title {
  padding: 4px 8px;
  border-radius: 11px;
  font-size: 16px;
  margin-left: 10px;
}
.step-title.active {
  background-color: var(--main);
  color: var(--color-white);
  padding: 12px 24px;
}
.img-regester-cont {
  width: 140px;
  height: 140px;
  border-radius: 8px;
  margin: 70px auto;
  position: relative;
}
.img-regester-cont img {
  width: 140px;
  height: 140px;
  border-radius: 8px;
}
.img-edit {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: var(--main);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -25px;
  top: 40px;
  cursor: pointer;
}
.img-edit .fa-pen-to-square {
  font-size: 16px;
}
.small-sec form {
  max-width: 800px;
  margin-inline: auto;
}
.main-inp-cont h6 {
  position: relative;
  width: fit-content;
}
.main-inp-cont h6::before {
  content: "*";
  position: absolute;
  top: 0;
  left: -10px;
  color: red;
}
label.apload-img-reg {
  position: relative;
  width: 100% !important;
  height: 50px !important;
  border: 1px solid #ddd !important;
  display: flex;
  align-items: center;
  padding-right: 6px;
}
.img-apload-title {
  color: #a99e9e;
}
.add-photo {
  position: absolute;
  top: 17px;
  left: 15px;
}
.font10 {
  font-size: 11px !important;
}
.small-sec form button {
  background-color: var(--main);
  width: 65%;
  color: var(--color-white);
  height: 40px;
  border: none;
  outline: none;
  display: block;
  margin-inline: auto;
  border-radius: 5px;
  margin-top: 20px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.uploaded__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.uploaded__area .file_ {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  margin: 7px;
  position: relative;
}

.uploaded__area .file_ img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.uploaded__area .file_ video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.uploaded__area .file_ .docs_file {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #eee;
  color: crimson;
  font-size: 30px;
  position: relative;
}

.uploaded__area .file_ .play-button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
}

.uploaded__area .file_ .play-button img {
  width: 100%;
  height: 100%;
}

.uploaded__area .file_ .remove_media {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  line-height: 22px;
  background-color: crimson;
  color: #fff;
  position: absolute;
  right: 4px;
  top: 4px;
  -webkit-transition: 0.3s all cubic-bezier(0, 0.11, 0.4, 1.29);
  transition: 0.3s all cubic-bezier(0, 0.11, 0.4, 1.29);
}

.uploaded__area .file_ .remove_media:hover {
  background-color: #fff;
  color: crimson;
}
.special-tele {
  position: relative;
  width: fit-content;
}
.special-tele::before {
  content: "*";
  position: absolute;
  top: 0;
  left: -10px;
  color: red;
}
div.text-active {
  color: var(--main);
}
.reg-links {
  width: 90%;
  height: 450px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  flex-direction: column;
  gap: 20px;
  background: url("../imgs/Medical\ guide\ 2.png");
  background-position: center center;
  /* background-size: cover; */
  background-repeat: no-repeat;
}
.reg-links a {
  color: white;
  padding: 10px 12px;
  border-radius: 6px;
  width: 240px;
  height: 70px;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: all 0.4s ease-in-out;
}
.reg-links a.first-reg {
  background-color: #14b5aa;
}
.reg-links a.first-reg:hover {
  color: #14b5aa !important;
}
.reg-links a.second-reg {
  background-color: var(--main);
}
.dont-have {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  margin-top: 16px;
}
.img-cont-code img {
  width: 155px;
  height: 120px;
  margin-bottom: 20px;
}
/*pinlogin*/
.pinlogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pinlogin .pinlogin-field {
  margin: 0 10px !important;
}
@media (max-width: 768px) {
  .landing{
    padding: 25px 0;
    background-size: cover;
  }
  .specials{
    margin: 0;
    background-color: #fbfbfb;
    padding: 5px 0;
  }
  .pinlogin .pinlogin-field {
    width: 34px;
    height: 34px;
  }
}
/*style our modal*/
.modal-header .close {
  color: var(--main);
}
.modal-header,
.modal-footer {
  border: none;
}
.modal-footer .donebtn {
  width: 70%;
  display: block;
  margin: 0 auto;
  border: 1px solid transparent;
  background-color: var(--main) !important;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
}
.modal-body .fontBold {
  font-weight: bold;
}
/*start work and map in main lab page*/
/******************** Flat Picker *********************/

.input-g .flatpickr-wrapper {
  width: 100%;
}

.flatpickr-calendar.static.open {
  z-index: 999;
  display: block;
  left: 0;
}

.numInput.flatpickr-hour {
  border: none !important;
  margin-top: 0 !important;
}

.numInput.flatpickr-minute {
  border: none !important;
  margin-top: 0 !important;
}

@media (max-width: 575px) {
  .modal-map .modal-content {
    padding: 30px 20px;
  }
}

.modal-map .modal-footer .my-btn {
  width: 100%;
}
select.default_input {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.input-work input {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.work-plus-icon {
  padding: 12px 18px;
  background-color: var(--main);
  margin-right: auto;
  margin-top: 20px;
  margin-left: 3px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 30px;
}
.sub-btn {
  background-color: var(--main);
  width: 65%;
  color: var(--color-white);
  height: 40px;
  border: none;
  outline: none;
  display: block;
  margin-inline: auto;
  border-radius: 5px;
  margin-top: 20px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 40px;
}
.work-date {
  margin-bottom: 20px;
}
.relative-parent {
  position: relative;
}
.work-close-icon {
  width: 30px;
  height: 30px;
  background: red;
  color: var(--color-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -35px;
  top: 8px;
  cursor: pointer;
}
/*start branshes*/
.inputs-rad {
  margin: 20px 0;
}
.input-rad {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.input-rad input {
  width: 18px;
  height: 18px;
}
.input-rad label {
  margin-bottom: 0 !important;
  font-size: 15px;
}
.branshes > div {
  display: none;
  font-size: 16px;
}

/*form withard*/

/*----------step-wizard------------*/
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}

/*---------signup-step-------------*/
.bg-color {
  background-color: #333;
}
.signup-step-container {
  margin: 70px 0;
}

.wizard .nav-tabs {
  position: relative;
  margin-bottom: 0;
  border-bottom-color: transparent;
}

.wizard > div.wizard-inner {
  position: relative;
  margin-bottom: 50px;
  text-align: center;
}

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 75%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 15px;
  z-index: 1;
}

.wizard .nav-tabs > li.active > a,
.wizard .nav-tabs > li.active > a:hover,
.wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  padding: 8px 14px;
  border-radius: 8px;
  display: inline-block;
  background: #fff;
  z-index: 2;
  text-align: center;
  font-size: 15px;
  color: #0e214b;
  font-weight: 500;
  /* border: 1px solid #ddd; */
}
span.round-tab i {
  color: #555555;
}
.wizard li.active span.round-tab {
  background: var(--main);
  color: #fff;
  border-color: var(--main);
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: red;
  transition: 0.1s ease-in-out;
}

.wizard .nav-tabs > li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
  padding-top: 20px;
}

.wizard h3 {
  margin-top: 0;
}
.prev-step,
.next-step {
  transition: all 0.3s ease-in-out;
  padding: 7px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  cursor: pointer;
  color: #fff;
  background-color: var(--main);
  width: 65%;
  border-radius: 3px;
  outline: none;
  border: none;
  font-family: "Cairo", sans-serif;
  /* font-weight: 600; */
  border: 1px solid transparent;
  margin: 40px auto;
}
.next-step {
  background-color: var(--main);
}
.skip-btn {
  background-color: #cec12d;
}
.step-head {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}
.term-check {
  font-size: 14px;
  font-weight: 400;
}
.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px;
  margin-bottom: 0;
}
.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 40px;
  margin: 0;
  opacity: 0;
}
.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 40px;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 2;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: 38px;
  padding: 0.375rem 0.75rem;
  line-height: 2;
  color: #495057;
  content: "Browse";
  background-color: #e9ecef;
  border-left: inherit;
  border-radius: 0 0.25rem 0.25rem 0;
}
.footer-link {
  margin-top: 30px;
}
.list-content {
  margin-bottom: 10px;
}
.list-content a {
  padding: 10px 15px;
  width: 100%;
  display: inline-block;
  background-color: #f5f5f5;
  position: relative;
  color: #565656;
  font-weight: 400;
  border-radius: 4px;
}
.list-content a[aria-expanded="true"] i {
  transform: rotate(180deg);
}
.list-content a i {
  text-align: right;
  position: absolute;
  top: 15px;
  right: 10px;
  transition: 0.5s;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #fdfdfd;
}
.list-box {
  padding: 10px;
}
.signup-logo-header .logo_area {
  width: 200px;
}
.signup-logo-header .nav > li {
  padding: 0;
}
.signup-logo-header .header-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-inline li {
  display: inline-block;
}
.tab-img {
  width: 45px;
}
.nav-tabs li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.wizard .nav-tabs {
  gap: 15px;
  justify-content: center;
}
.work-plus-icon2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
}
.work-plus-icon2 .plus-add2 {
  padding: 12px 18px;
  background-color: var(--main);
  margin-top: 20px;
  margin-left: 3px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .tab-img {
    width: 40px;
  }
  span.round-tab {
    font-size: 13px;
    padding: 6px 10px;
    /* border: 1px solid #ddd; */
  }
  .sign-content h3 {
    font-size: 40px;
  }
  .wizard .nav-tabs > li a i {
    display: none;
  }
  .signup-logo-header .navbar-toggle {
    margin: 0;
    margin-top: 8px;
  }
  .signup-logo-header .logo_area {
    margin-top: 0;
  }
  .signup-logo-header .header-flex {
    display: block;
  }
}
/* DEPARTMENTS */
.all-colomns {
  display: grid;
  grid-template-columns: 25% 15% 20% 15% 15%;
  gap: 2%;
}
.colomn1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.default-row {
  display: flex;
  /*align-items: center;*/
  gap: 15px;

}
.default-row input {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.default_input-spe {
  position: relative;
  width: 100%;
  height: 50px;
  color: #897f7f;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 13px;
}
.dafault-radio {
  width: 18px;
  height: 18px;
}
.ather-big {
  display: flex;
  align-items: center;
  gap: 50px;
}
.ather-right,
.ather-left {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 15px 0;
}
.ather-big label {
  margin-bottom: 0;
}
.show-special-con {
  display: none;
}
.show-special-con .form__label {
  margin-bottom: 15px;
}
.gif-img {
  width: 140px;
}

/*end regester page*/
@media (max-width: 1024px) {
  .work-close-icon {
    left: -35px;
  }
  .all-colomns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .flex-logins {
    position: absolute;
    padding-top: 60px;
    top: 0px;
    right: 0px;
    width: 250px;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 0px);
    box-shadow: 0px 1px 4px 1px rgb(0 0 0 / 12%);
    background: var(--color-white);
    justify-content: flex-start;
    gap: 40px;
    z-index: 9999999;
    transition: all 0.4s ease-in-out;
    transform: translateX(100%);
  }
  .user-ul {
    flex-direction: column;
    gap: 10px;
  }
  .logins {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .user-ul li {
    width: 200px;
    height: 50px;
    border-bottom: 1px solid var(--main);

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .user-ul li a {
    height: 60px;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 60px;
    transition: all 0.5s ease-in-out;
  }
  .user-ul li a:hover {
    transform: translateX(10px);
  }
  .user-header .logo img {
    width: 50px;
  }
  .nav-layer {
    position: fixed;
    top: 0px;
    right: 250px;
    width: calc(100% - 250px);
    height: calc(100% - 0px);
    z-index: 9999;
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
    transform: translateX(550%);
  }
  .bars {
    display: block;
    cursor: pointer;
    position: relative;
    height: 22px;
    width: 30px;
  }
  .bars span {
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    transition: all 0.3s ease;
    background-color: black;
  }
  .bars span:first-child {
    top: 0;
  }
  .bars span:nth-child(2) {
    top: 10px;
  }
  .bars span:last-child {
    top: 20px;
  }
  .bar-tog span:nth-child(2) {
    opacity: 0;
  }
  .bar-tog span:first-child {
    top: 6px;
    background-color: var(--main);
    transform: rotate(45deg);
  }
  .bar-tog span:last-child {
    top: 6px;
    background-color: var(--main);
    transform: rotate(-45deg);
  }
  .slideto {
    transform: translatex(0);
  }
  .landing-left {
    margin: 40px 0;
  }
  .landing-left img {
    margin-top: 30px;
  }
  .best-box img {
    width: 90px;
    /* margin: 0 15px; */
    height: 245px;
  }
  .owl-carousel .owl-item img {
    width: 178px;
  }
  .hide-m {
    display: none;
  }
  .footer > a img {
    width: 55px;
  }
  .best-box {
    gap: 0;
  }
  .reg-links {
    width: 100%;
  }
}
@media (max-width: 350px) {
  .landing-left img {
    width: 80%;
  }
}
@media (max-width: 750px) {
  .groups-inp {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .work-close-icon {
    left: 80px;
    top: 61px;
  }
  .all-colomns {
    gap: 15px;
  }
  .colomn1 {
    margin: 30px 0;
  }
}
[type="email"],
[type="number"],
[type="tel"],
[type="url"] {
  direction: rtl;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
  writing-mode: sideways-rl;
} */
.best-box-right::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 15px;
  width: 45px;
  height: 45px;
  background-color: var(--orange);
  z-index: 2;
  clip-path: circle(100% at 100% 0%);
}
.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  z-index: 999;
}

.loader img {
  width: 20%;
}
.main-graycolor {
  color: #8a8a8a !important;
}
.form__label .fa-images,
.form__label .fa-upload,
.form__label .fa-location-dot {
  font-size: 17px;
  color: #8a8a8a;
}
.add-photo .fa-clock {
  color: var(--main);
  font-size: 17px;
  left: 20px;
}

.code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  direction: ltr;
}

.code {
  caret-color: transparent;
  border-radius: 5px;
  font-size: 15px;
  height: 40px;
  width: 45px;
  border: 1px solid #eee;
  margin: 1%;
  text-align: center;
  font-weight: 300;
  -moz-appearance: textfield;
}
.font-20 {
  font-size: 20px !important;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 12px;
}
.show-another {
  display: none;
}
.dafult-blue-btn {
  padding: 12px 18px;
  background-color: var(--main);
  margin-right: auto;
  margin-top: 20px;
  margin-left: 3px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 30px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.docs_file span {
  word-break: break-all;
}
.work-plus-icon22 {
  padding: 12px 18px;
  background-color: var(--main);
  margin-right: auto;
  margin-top: 20px;
  margin-left: 3px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 30px;
}




.submit-loader {
  width: 30px;
  height: 30px;
  border-right: 4px solid #fff;
  border-radius: 100%;
  animation: spinRight 800ms linear infinite;
}
.submit-loader:before, .submit-loader:after {
  content: '';
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  border-left: 3px solid #5f5454;
  border-radius: 100%;
  animation: spinLeft 800ms linear infinite;
}
.submit-loader:after {
  width: 15px;
  height: 15px;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  border: 0;
  border-right: 2px solid #857878;
  animation: none;
}
@keyframes spinLeft {
  from {
    transform: rotate(0deg);
 }
  to {
    transform: rotate(720deg);
 }
}
@keyframes spinRight {
  from {
    transform: rotate(360deg);
 }
  to {
    transform: rotate(0deg);
 }
}
